<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text" name="PersonId" />
    <br>
    <label>Nhập tên: </label>
    <input type="text" name="FullName" />
    <br>
    <label>Nhập địa chỉ: </label>
    <input type="text" name="Adress" />
    <input type="submit" value="Gửi dữ liệu"/>
</form>